{% assign max='now'|date:"%Y" %}
{% assign min=max|minus: include.nbyears|plus: 1 %}
{% assign smin=min|plus: "" %}

<noscript>
    {% if site.alerts.no-javascript.warning %}
    <div class="bs-callout bs-callout-warning">
        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> No-JS version</h4>
        <p class="text-justify">
            <i class="glyphicon glyphicon-remove-sign text-danger"></i> information { bibtex entries },
            <i class="glyphicon glyphicon-remove-sign text-danger"></i> presentation<br/>
            Please consider using a selective javascript blocker.
        </p>
    </div>
    {% endif %}

    
</noscript>
