---
layout: base
---

{% assign civil_years = "2022" | split: ", " %}
{% assign academic_years = "2021-2022, 2022-2023" | split: ", " %}


{% include header.html type="page" %}







<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">

    <div class="row">
        <div class="col-md-6">
            <h2><span class="text-primary">Scientific dissemination</span></h2>
            {% include print_misc.html misc=site.data.misc.dissemination %}
        </div>
        <div class="col-md-6" >
            <div >
                <h2><span class="text-primary">Teaching</span></h2>
                {% include print_misc.html misc=site.data.misc.teaching %}
            </div>
            <div >
                <h2><span class="text-primary">Supervision</span></h2>
                {% include print_misc.html misc=site.data.misc.supervision %}
            </div>
        </div>
        <div>
            <h2><span class="text-primary">Other activities</span></h2>
            {% include print_misc.html misc=site.data.misc.others %}
        </div>
        
        
    </div>

    <!-- <div class="row">
        <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
            {% if page.before-content %}
            <div class="before-content">
                {% for file in page.before-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

    </div>

            <div class="row">
                <div class="col-md-6">


            <h1>Scientific dissemination</h1>

            <h2>Scientific communication</h2>

            {% assign posts = paginator.posts | default: site.posts %}

            <ul class="posts-list list-unstyled" role="list">

                {% for year in civil_years %}

                <h3>{{ year }}</h3>
                {% for post in site.communication reversed %}
                    {% if post.path contains year %}

                    <li class="post-preview">
                        <article>

                            <h4>{{ post.title}}</h4>
                            {{post.conf-name}}, {{post.conf-date}}, {{post.country}} <br>
                            {{post.type}}
                            {% if post.content %}
                            <i>{{post.content}}</i>
                            {% endif %}

                            {% if post.pdf %}
                            <a class="btn btn-small btn-success" target="_blank"
                                href="{{ site.url }}/docs/communication_pdfs/{{post.pdf}}">PDF</a>

                            {% endif %}


                        </article>
                    </li>
                    {% endif %}

                {% endfor %}

            </ul>

            {% endfor %}



            <h2>Scientific popularization</h2>

            {% assign posts = paginator.posts | default: site.posts %}

            <ul class="posts-list list-unstyled" role="list">

                {% for year in civil_years %}

                <h3>{{ year }}</h3>
                {% for post in site.popularization reversed %}
                    {% if post.path contains year %}

                    <li class="post-preview">
                        <article>

                            <h4>{{ post.title}}</h4>
                            {{post.conf-name}}, {{post.conf-date}}, {{post.country}} <br>
                            {{post.type}}
                            {% if post.content %}
                            <i>{{post.content}}</i>
                            {% endif %}

                            {% if post.pdf %}
                            <a class="btn btn-small btn-success" target="_blank"
                                href="{{ site.url }}/docs/communication_pdfs/{{post.pdf}}">PDF</a>

                            {% endif %}


                        </article>
                    </li>
                    {% endif %}

                {% endfor %}

            </ul>

            {% endfor %}






                </div>


                <div class="col-md-6">

                    <h1>Teachings</h1>

                    {% assign posts = paginator.posts | default: site.posts %}

                    <ul class="posts-list list-unstyled" role="list">
        
                        {% for year in academic_years %}
        
                        <h3>{{ year }}</h3>

                        {% for post in site.teachings reversed %}
                            {% if post.path contains year %}
        
                            <li class="post-preview">
                                <article>
        
                                    <h4>{{ post.title}}</h4>
                                    <a  target="_blank"
                                href="{{post.link}}">{{post.student-year}}</a>, {{post.school}} <br>
                                    {{post.course-name}}, {{post.course-type}}
                                    {% if post.content %}
                                    <i>{{post.content}}</i>
                                    {% endif %}       
                                </article>
                            </li>
                            {% endif %}
        
                        {% endfor %}
        
                    </ul>
        
                    {% endfor %}
        


                    <h1>Others activities</h1>
                    {% assign posts = paginator.posts | default: site.posts %}

                    <ul class="posts-list list-unstyled" role="list">

                        {% for post in site.others_activities %}

        
                            <li class="post-preview">
                                <article>
        
                                    <h4>{{ post.title }}</h4>
                                    {% if post.start-date and post.stop-date %}
                                        From {{post.start-date}} to {{post.stop-date}}.
                                    {% else %}
                                        Since {{post.start-date}}.
                                    {% endif %}       

                                    {% if post.content %}
                                    <i>{{post.content}}</i>
                                    {% endif %}    
                                </article>
                            </li>
        
                        {% endfor %}
        
                    </ul>
        
        
        

                </div>
              </div> 



            {% if paginator.total_pages > 1 %}
            <ul class="pagination main-pager">
                {% if paginator.previous_page %}
                <li class="page-item previous">
                    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li class="page-item next">
                    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

            {% if page.after-content %}
            <div class="after-content">
                {% for file in page.after-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

            {% include comments.html %}
        </div>
    </div>-->
</div>